<div class="row">
    <div class="col-12 text-center ">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn " [ngClass]="currentComponent == 'roles' ? 'btn-success' : 'btn-primary'" (click)="changeTab('roles')">Roles</button>
            <button type="button" class="btn" [ngClass]="currentComponent == 'designation' ? 'btn-success' : 'btn-primary' " (click)="changeTab('designation')">Designation</button>   
        </div>
    </div>
</div>

<div class="row pt-2">
    <div class="col-12" *ngIf="currentComponent == 'roles'">
        <app-roles></app-roles>        
    </div>
    <div class="col-12" *ngIf="currentComponent == 'designation'">
        <app-designation></app-designation>
    </div>
</div>

